## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,City Desc
0,0,Xichang,27.8964,102.2634,289.08,81,100,0.51,CN,2022-09-05 08:02:13,NaN
1,1,Codrington,-38.2667,141.9667,284.18,71,100,4.48,AU,2022-09-05 08:02:13,NaN
2,2,Busselton,-33.6500,115.3333,286.68,73,100,5.37,AU,2022-09-05 08:02:13,NaN
3,3,Nikolskoye,59.7035,30.7861,283.10,77,100,3.64,RU,2022-09-05 08:10:51,NaN
4,4,Port Moresby,-9.4431,147.1797,299.32,86,91,4.76,PG,2022-09-05 08:02:14,NaN

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 200
What is the maximum temperature you would like for your trip? 300

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,City Desc
0,0,Xichang,27.8964,102.2634,289.08,81,100,0.51,CN,2022-09-05 08:02:13,NaN
1,1,Codrington,-38.2667,141.9667,284.18,71,100,4.48,AU,2022-09-05 08:02:13,NaN
2,2,Busselton,-33.6500,115.3333,286.68,73,100,5.37,AU,2022-09-05 08:02:13,NaN
3,3,Nikolskoye,59.7035,30.7861,283.10,77,100,3.64,RU,2022-09-05 08:10:51,NaN
4,4,Port Moresby,-9.4431,147.1797,299.32,86,91,4.76,PG,2022-09-05 08:02:14,NaN
6,6,Rocha,-34.4833,-54.3333,280.48,74,0,1.96,UY,2022-09-05 08:10:52,NaN
7,7,Port Alfred,-33.5906,26.8910,292.69,45,30,4.47,ZA,2022-09-05 08:02:15,NaN
9,9,Alamos,27.0167,-108.9333,299.09,69,97,1.65,MX,2022-09-05 08:02:16,NaN
10,10,Kapaa,22.0752,-159.3190,297.09,75,34,4.69,US,2022-09-05 08:02:16,NaN
11,11,Lagoa,39.0500,-27.9833,294.95,76,99,4.59,PT,2022-09-05 08:10:54,NaN

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       915
City          915
Lat           915
Lng           915
Max Temp      915
Humidity      915
Cloudiness    915
Wind Speed    915
Country       911
Date          915
City Desc     456
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df=preferred_cities_df.dropna()

In [7]:
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,City Desc
579,579,Xichang,27.8964,102.2634,289.08,81,100,0.51,CN,2022-09-05 08:15:12,overcast clouds
580,580,Codrington,-38.2667,141.9667,284.18,71,100,4.48,AU,2022-09-05 08:15:12,overcast clouds
581,581,Busselton,-33.6500,115.3333,286.68,73,100,5.37,AU,2022-09-05 08:15:12,overcast clouds
582,582,Nikolskoye,59.7035,30.7861,283.10,77,100,3.64,RU,2022-09-05 08:10:51,light rain
585,585,Rocha,-34.4833,-54.3333,280.48,74,0,1.96,UY,2022-09-05 08:10:52,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
1153,1153,Olga,43.7444,135.2892,290.90,95,100,1.77,RU,2022-09-05 08:19:24,moderate rain
1154,1154,Freeport,40.6576,-73.5832,297.69,80,20,2.57,US,2022-09-05 08:19:25,few clouds
1155,1155,Eureka,40.8021,-124.1637,290.48,94,64,0.45,US,2022-09-05 08:19:25,broken clouds
1156,1156,Havoysund,70.9963,24.6622,282.28,86,100,13.19,NO,2022-09-05 08:19:26,overcast clouds
1157,1157,Kimbe,-5.5502,150.1429,299.74,82,29,0.12,PG,2022-09-05 08:19:26,light rain

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "City Desc", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
579,Xichang,CN,289.08,overcast clouds,27.8964,102.2634,
580,Codrington,AU,284.18,overcast clouds,-38.2667,141.9667,
581,Busselton,AU,286.68,overcast clouds,-33.6500,115.3333,
582,Nikolskoye,RU,283.10,light rain,59.7035,30.7861,
585,Rocha,UY,280.48,clear sky,-34.4833,-54.3333,
586,Port Alfred,ZA,292.69,scattered clouds,-33.5906,26.8910,
588,Alamos,MX,299.09,overcast clouds,27.0167,-108.9333,
589,Kapaa,US,299.14,broken clouds,22.0752,-159.3190,
590,Lagoa,PT,294.95,overcast clouds,39.0500,-27.9833,
591,Saint-Philippe,RE,298.92,light rain,-21.3585,55.7679,

In [9]:
# 6a. Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df

,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
579,Xichang,CN,289.08,overcast clouds,27.8964,102.2634,Xichang ibis Hotel
580,Codrington,AU,284.18,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
581,Busselton,AU,286.68,overcast clouds,-33.6500,115.3333,Observatory Guest House
582,Nikolskoye,RU,283.10,light rain,59.7035,30.7861,Tourist House - Sablino
585,Rocha,UY,280.48,clear sky,-34.4833,-54.3333,Hotel Arrarte
...,...,...,...,...,...,...,...
1153,Olga,RU,290.90,moderate rain,43.7444,135.2892,Gostinitsa Rosmorport.
1154,Freeport,US,297.69,few clouds,40.6576,-73.5832,The Freeport Inn and Marina
1155,Eureka,US,290.48,broken clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
1156,Havoysund,NO,282.28,overcast clouds,70.9963,24.6622,Arctic View Glamping & Restaurant
1157,Kimbe,PG,299.74,light rain,-5.5502,150.1429,Kimbe Bay Hotel

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
579,Xichang,CN,289.08,overcast clouds,27.8964,102.2634,Xichang ibis Hotel
580,Codrington,AU,284.18,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
581,Busselton,AU,286.68,overcast clouds,-33.6500,115.3333,Observatory Guest House
582,Nikolskoye,RU,283.10,light rain,59.7035,30.7861,Tourist House - Sablino
585,Rocha,UY,280.48,clear sky,-34.4833,-54.3333,Hotel Arrarte
...,...,...,...,...,...,...,...
1153,Olga,RU,290.90,moderate rain,43.7444,135.2892,Gostinitsa Rosmorport.
1154,Freeport,US,297.69,few clouds,40.6576,-73.5832,The Freeport Inn and Marina
1155,Eureka,US,290.48,broken clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
1156,Havoysund,NO,282.28,overcast clouds,70.9963,24.6622,Arctic View Glamping & Restaurant
1157,Kimbe,PG,299.74,light rain,-5.5502,150.1429,Kimbe Bay Hotel

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "weather_database/WeatherPy_vacation_search.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>City Desc</dt><dd>{City Desc}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
# #weather_desc =  hotel_df["Current Description"]
# max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
#               max_intensity=300, point_radius=4)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))