## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,City Desc
0,0,Hermanus,-34.4187,19.2345,54.81,83,0,13.51,ZA,2022-09-10 19:59:11,clear sky
1,1,Matara,5.9485,80.5353,76.87,89,84,10.49,LK,2022-09-10 20:01:19,broken clouds
2,2,Leningradskiy,69.3833,178.4167,37.67,88,69,11.63,RU,2022-09-10 20:01:19,broken clouds
3,3,Kirakira,-10.4544,161.9205,78.49,85,7,6.98,SB,2022-09-10 20:01:20,clear sky
4,4,Bethel,41.3712,-73.4140,86.81,46,36,1.01,US,2022-09-10 20:01:20,scattered clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,City Desc
1,1,Matara,5.9485,80.5353,76.87,89,84,10.49,LK,2022-09-10 20:01:19,broken clouds
3,3,Kirakira,-10.4544,161.9205,78.49,85,7,6.98,SB,2022-09-10 20:01:20,clear sky
9,9,Bhum,18.4667,75.6667,74.01,88,100,5.44,IN,2022-09-10 20:01:22,overcast clouds
14,14,Olinda,-8.0089,-34.8553,76.73,73,100,6.91,BR,2022-09-10 19:59:43,overcast clouds
19,19,Jevargi,17.0167,76.7667,74.64,92,100,14.05,IN,2022-09-10 20:01:24,overcast clouds
20,20,Ribeira Grande,38.5167,-28.7000,73.80,73,75,25.32,PT,2022-09-10 20:01:25,broken clouds
22,22,Wanning,18.8003,110.3967,77.61,83,14,3.13,CN,2022-09-10 20:01:25,few clouds
27,27,Ribeira Brava,32.6500,-17.0667,78.71,85,100,5.99,PT,2022-09-10 20:01:27,overcast clouds
28,28,Mitu,1.1983,-70.1733,77.67,94,100,2.98,CO,2022-09-10 20:01:27,overcast clouds
34,34,Faanui,-16.4833,-151.7500,79.11,72,4,19.53,PF,2022-09-10 20:01:29,clear sky

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       178
City          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
Country       176
Date          178
City Desc     178
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df=preferred_cities_df.dropna()

In [9]:
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,City Desc
1,1,Matara,5.9485,80.5353,76.87,89,84,10.49,LK,2022-09-10 20:01:19,broken clouds
3,3,Kirakira,-10.4544,161.9205,78.49,85,7,6.98,SB,2022-09-10 20:01:20,clear sky
9,9,Bhum,18.4667,75.6667,74.01,88,100,5.44,IN,2022-09-10 20:01:22,overcast clouds
14,14,Olinda,-8.0089,-34.8553,76.73,73,100,6.91,BR,2022-09-10 19:59:43,overcast clouds
19,19,Jevargi,17.0167,76.7667,74.64,92,100,14.05,IN,2022-09-10 20:01:24,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
583,583,Diego De Almagro,-26.3667,-70.0500,70.63,21,66,10.58,CL,2022-09-10 20:04:28,broken clouds
585,585,Flagstaff,35.1981,-111.6513,76.66,73,100,3.44,US,2022-09-10 20:04:29,light rain
588,588,Beauceville,46.2179,-70.7787,77.50,49,5,7.74,CA,2022-09-10 20:04:30,clear sky
589,589,Mayumba,-3.4320,10.6554,74.28,88,100,8.25,GA,2022-09-10 20:04:30,overcast clouds
592,592,Ambulu,-8.3450,113.6058,73.67,93,100,2.37,ID,2022-09-10 20:04:31,overcast clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "City Desc", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
1,Matara,LK,76.87,broken clouds,5.9485,80.5353,
3,Kirakira,SB,78.49,clear sky,-10.4544,161.9205,
9,Bhum,IN,74.01,overcast clouds,18.4667,75.6667,
14,Olinda,BR,76.73,overcast clouds,-8.0089,-34.8553,
19,Jevargi,IN,74.64,overcast clouds,17.0167,76.7667,
20,Ribeira Grande,PT,73.80,broken clouds,38.5167,-28.7000,
22,Wanning,CN,77.61,few clouds,18.8003,110.3967,
27,Ribeira Brava,PT,78.71,overcast clouds,32.6500,-17.0667,
28,Mitu,CO,77.67,overcast clouds,1.1983,-70.1733,
34,Faanui,PF,79.11,clear sky,-16.4833,-151.7500,

In [11]:
# 6a. Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df

,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
1,Matara,LK,76.87,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
3,Kirakira,SB,78.49,clear sky,-10.4544,161.9205,SanBiz Lodge
9,Bhum,IN,74.01,overcast clouds,18.4667,75.6667,धनंजय होम
14,Olinda,BR,76.73,overcast clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
19,Jevargi,IN,74.64,overcast clouds,17.0167,76.7667,Khamadhenu Hotel
...,...,...,...,...,...,...,...
583,Diego De Almagro,CL,70.63,broken clouds,-26.3667,-70.0500,hotel luna del desierto
585,Flagstaff,US,76.66,light rain,35.1981,-111.6513,Drury Inn & Suites Flagstaff
588,Beauceville,CA,77.50,clear sky,46.2179,-70.7787,La Cage du Golf
589,Mayumba,GA,74.28,overcast clouds,-3.4320,10.6554,LIKWALE LODGE
592,Ambulu,ID,73.67,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,City Desc,Lat,Lng,Hotel Name
1,Matara,LK,76.87,broken clouds,5.9485,80.5353,Amaloh Boutique Resort
3,Kirakira,SB,78.49,clear sky,-10.4544,161.9205,SanBiz Lodge
9,Bhum,IN,74.01,overcast clouds,18.4667,75.6667,धनंजय होम
14,Olinda,BR,76.73,overcast clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
19,Jevargi,IN,74.64,overcast clouds,17.0167,76.7667,Khamadhenu Hotel
...,...,...,...,...,...,...,...
583,Diego De Almagro,CL,70.63,broken clouds,-26.3667,-70.0500,hotel luna del desierto
585,Flagstaff,US,76.66,light rain,35.1981,-111.6513,Drury Inn & Suites Flagstaff
588,Beauceville,CA,77.50,clear sky,46.2179,-70.7787,La Cage du Golf
589,Mayumba,GA,74.28,overcast clouds,-3.4320,10.6554,LIKWALE LODGE
592,Ambulu,ID,73.67,overcast clouds,-8.3450,113.6058,Hotel Ambulu Jember

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "weather_database/WeatherPy_vacation_search.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>City Desc</dt><dd>{City Desc}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
#locations = hotel_df[["Lat", "Lng"]]
# #weather_desc =  hotel_df["Current Description"]
# max_temp = hotel_df["Max Temp"]
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
#               max_intensity=300, point_radius=4)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))